body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
}

input, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
    list-style: none;
}